.page-logo {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.16;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: #2e2f42;
}

.page-logo-web {
    color: #404BBF;
}

.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-mob-navig {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-mob-navig-icon {
    fill: #2F2F37;
}

@media screen and (min-width: 768px) {
    .btn-mob-navig {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}



.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
}


.menu {
    display: flex;
    column-gap: 40px;
    margin-left: 120px;
}

.menu-item-link {
    position: relative;
}

.menu-link {
    color: #2e2f42;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:focus,
.menu-link:hover {
    color: #404BBF;
}

.menu-link-activ {
    color: #404BBF;
}

.menu-link-cont::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    margin-bottom: -24px;
    bottom: 0;
}

.contact-tablet {
    margin-bottom: 12px;
}

.contact-item {
    line-height: 0;
}

.contact-link {
    color: #434455;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    word-wrap: break-word;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:focus,
.contact-link:hover {
    color: #404BBF;
}

@media screen and (min-width: 1158px) {
    .page-header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .menu {
        margin-left: 76px;
    }

    .contact-list {
        display: flex;
        column-gap: 40px;
    }

    .contact-link {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .contact-tablet {
        margin-bottom: 0px;
    }
}